@charset "utf-8";

li {
    list-style: none;
}

/* 상세 > 포스트 */
.post_area{position:absolute;right:0;top:11px;z-index:100; }
.post_area:after{content:'';display:block;clear:both;}
.post_area button{float:left;height:22px;padding:0 10px;overflow:hidden; background-color: #fff; outline: 0; border: 0;}
.post_area button:last-child{margin:0;}
.post_area button .ico{display:inline-block;text-indent:-9999px;}
.titleType1 .post_area .rline button{padding: 0 0 0 20px;}
.post_area .btn_good{padding: 0 10px 0 0;}
.post_area .btn_print{padding: 0 0 0 10px;}
.post_area .btn_good .ico{width:23px;height:21px;background:url(./image/heart.PNG) no-repeat;}
.post_area .btn_good.on .ico{background:url(./image/Redheart.PNG) no-repeat;}
.post_area .btn_sharing{margin-right:10px;}
.post_area .btn_sharing .ico{width:19px;height:21px;background:url(./image/share.PNG) no-repeat;}
.post_area .btn_sharing .num{line-height: 21px;}
.post_area .rline{display:inline-block;position:relative;}
.post_area .rline:before{content:'';display:inline-block;width:1px;height:20px;background:#ccc;position:absolute;left:-10px;top:1px;}
.post_area .btn_bookmark .ico{position:relative;width:16px;height:21px;background:url(../images/sub/ico_post03.png) no-repeat;}
.post_area .btn_bookmark.on .ico{background:url(../images/sub/ico_post03_on.png) no-repeat;}
.post_area .btn_print .ico{width:20px;height:21px;background:url(../images/sub/ico_post04.png) no-repeat;}
.post_area .btn_cos .ico{width:22px;height:21px;background:url(../images/sub/ico_post05.png) no-repeat;}
.post_area .num_view{float:left;}
.post_area .num_view .tit{color:#000;font-size:16px;font-weight:700;}
.post_area .num{display:inline-block;margin-left:8px;color:#000;font-size:16px;vertical-align:top;}
.postBtnWrap{text-align:center;}
.postBtnWrap .post_area{position: static;display:inline-block;margin:0 auto 33px;padding:17px 40px;border:1px solid #bababa;}

/* 컨텐츠 */
.section_line{margin-top:30px;border-top:2px solid #e6e6e6;}
.section_line.line_pc_none{border-top:none;}
.wrap_contView.search{margin-top:0;}
.wrap_contView{position:relative;width: 100%; margin-top:24px;}/*190411 margin-top:13*/
.tit_cont.news + .wrap_contView{margin-top:18px;}
.wrap_contView h3{display:inline-block;margin-top:11px;font-size:22px; color: #000;}
.wrap_contView h3 + .date{display:inline-block;margin-left:3px;margin-top:-7px; font-size: 16px; color: #666;vertical-align:middle;}
.wrap_contView .tit_atc{position:relative;padding-left:15px;}
.wrap_contView .tit_atc:before{content:'';display:inline-block;position:absolute;left:0;top:6px;width:4px;height:20px;background-color:#0a97cd;}
.wrap_contView .btn_view{overflow:hidden;position:absolute;top:20px;right:-14px;width:40px;height:40px;background:url(../images/sub/ico_moreplus.png) 50% 50% no-repeat;text-indent: -9999px;}
.wrap_contView .area_imgView{position: relative; float: left; width: 460px;}
.wrap_contView .area_imgView:after{content:'';display:block;clear:both;}
.wrap_contView .area_imgView > ul li{overflow: hidden; position: relative; width: 460px;  height: 300px;  margin-bottom: 10px;}
.wrap_contView .area_imgView > ul li button{display: block; width: 100%; height: 100%;}
.wrap_contView .area_imgView > ul li img{width: 100%; height: 100%;}
.wrap_contView .area_imgView .btn_more{font-size: 13px;}
.wrap_contView .area_imgView_m{display: none;}

.wrap_contView .area_txtView_wrap{position:relative;float:right;width:440px;}
.wrap_contView .area_txtView{position:relative;padding-bottom:0 !important;}
.wrap_contView .area_txtView.top.on .inr_wrap,
.wrap_contView .area_txtView.bottom.on .inr_wrap{overflow:visible !important;height:auto !important;}
.wrap_contView .area_txtView.top .inr_wrap{overflow:hidden;height:140px;}
.wrap_contView .area_txtView.bottom .inr_wrap{overflow:hidden;height:140px;}
.wrap_contView .area_txtView.top.on .inr{border-bottom:0;padding-bottom:0;}
.wrap_contView .area_txtView .inr > p{color: #333; font-size: 18px; line-height:1.7;letter-spacing: -1px;}
.wrap_contView .area_txtView .inr > p p{color: #333; font-size: 16px; line-height:25px;}
.wrap_contView .area_txtView .inr ul li{overflow: hidden;padding-left: 12px; background:url(../images/sub/dot1.png) 0 8px no-repeat;}
.wrap_contView .area_txtView .inr ul li > strong{float: left; width: 26%;margin-right:4%;font-size: 15px; color: #333; font-weight: normal;}
.wrap_contView .area_txtView .inr ul li > span{float: left; width: 70%; font-size: 15px; color: #333;line-height:26px;}
.wrap_contView .area_txtView .inr ul.txt_one li > span{float: none; width: 100%;}
.wrap_contView .area_txtView .tag a{margin-right: 10px; color:#666; font-size: 14px;}
.wrap_contView .area_txtView .btn_more{display:none;position:absolute;right:0;bottom:0;width:100%;height:40px;border:1px solid #e6e6e6;background-color:#f7f7f7;color:#666;font-size:13px;line-height:40px;}
.wrap_contView .area_txtView .btn_more:after{content:'';display:inline-block;width:7px;height:4px;margin:18px 0 0 8px;background:url(../images/sub/ico_arrowbtm.png) no-repeat 0 0;background-size: 7px 4px;vertical-align:top;}
.wrap_contView .area_txtView.on .btn_more:after{content:'';background:url(../images/sub/ico_arrowtop.png) no-repeat 0 0;background-size: 7px 4px;}
.wrap_contView .area_txtView + .area_txtView{text-align: left;margin-top:30px;padding-top:25px;border-top:1px dashed #ccc;}
.wrap_contView .area_txtView.tag_area{padding-bottom:0;}

.wrap_contView .area_txtView1 p{padding-top: 25px; color: #333; font-size: 18px; line-height: 1.6;}
.wrap_contView .area_txtView1 p:first-child{padding-top: 0;}

/* 사용자 코스 */
.cosTop3{display:block;overflow:hidden;margin:16px 0 10px;}
.cosTop3 + .box_cosList {padding-bottom:20px;border-bottom:1px solid #ccc;}
.wrap_contView.cosUser{width: 940px;margin: 0 auto;}
.wrap_contView.cosUser .page_box{border-top: 1px solid #e6e6e6;margin-top: 30px;}

.replyWrap .wrap_reply{min-height:auto;}
.replyWrap .wrap_reply .list_reply{width:100%;}
.replyWrap .tit_reply{padding: 20px 0px 20px 50px;font-weight:700;font-size:20px;float:left;margin-top:0;letter-spacing: -1px;}
.replyWrap .write{position:relative;margin-top: 30px;background: #f7f7f7;border:1px solid #e5e5e5;}
.replyWrap .fileLayer{position:absolute;left:0;top:-111px;width:100%;height:111px;background:rgba(153, 153, 153, 0.5);z-index: 101;}
.replyWrap .fileLayer .img{position:relative;display:inline-block;width:120px;height:80px;margin:16px 0 0 167px;border:1px solid #a6a5a5;}
.replyWrap .fileLayer .img img{width:100%;height:100%;}
.replyWrap .fileLayer .img button{position: absolute;right:-10px;top:-10px;width:21px;height:21px;background:url(../images/sub/btn_replyimg_del.png) 0 0 / 100% 100% no-repeat;text-indent: -9999px;}
.replyWrap .write:after{content:'';display:block;clear:both;}
.replyWrap .write .form{float:right;margin:14px 20px 0 0;}
.replyWrap .write .form textarea{float: left;font-size:16px;padding:0 5px; width:610px;box-sizing: border-box;height:40px;line-height:38px;border:1px solid #e7e7e7;}
.replyWrap .write .form textarea::placeholder{font-size:16px;font-weight:400;color:#b2b1b1;}
.replyWrap .btn_apply{display: inline-block;background: #13294b;color: #fff;font-size: 15px;width:73px;height:40px;line-height:40px;text-align:center;margin-left:2px;vertical-align: middle;}
.replyWrap .wrap_reply .btn_more:after{content:'';display:inline-block;width:17px;height:10px;background:url(../images/sub/bg_reply_more.png) no-repeat;background-size:100% auto;margin-left:8px;}
.replyWrap.login .write{height:92px;}
.replyWrap.login .write .form textarea{height:40px;line-height:20px;}
.replyWrap.login .write .form textarea::placeholder{line-height:40px;}
.replyWrap .wrap_reply .reply_none{width:100%;font-weight:400;font-size:16px;color:#333;padding-top: 0;height:96px;line-height:96px;border-bottom:1px solid #ddd;}
.replyWrap .wrap_reply .list_reply .txt_reply{width:850px;}

.replyWrap .fileRegbtn{position: relative;display: inline-block;height:40px;vertical-align: middle;margin-left:10px;}
.replyWrap .fileRegbtn input[type="file"] {position: absolute;width: 54px;height: 40px;padding: 0;clip: rect(0,0,0,0);border: none;}
.replyWrap .fileRegbtn label {display:inline-block;width:54px;height:40px;background:url(../images/sub/btn_reply_file.gif) 0 0 / 100% 100% no-repeat;cursor: pointer;text-indent:-9999px;font-size: 0;}
.replyWrap .replyBtn{display:block;clear:both;padding:17px 0 10px 70px;}
.replyWrap .replyBtn button{width:69px;line-height:28px;border:1px solid #bababa;color:#666;font-size:15px;text-align:center;}
.replyWrap .replyBtn.num button{background:#f7f7f7;}
.replyWrap .replyBtn.num button span{color:#59b7db;display:inline-block;padding-left:3px;}
.replyWrap .replyBox{display:none;background:#f7f7f7;width:940px;margin:10px 0 -21px -10px;border-top:1px solid #ddd;}
.replyWrap .replyBox > ul > li{padding:30px 0 30px 40px;margin:0 50px;border-top:1px solid #ddd;position: relative;}
.replyWrap .replyBox > ul > li:after{content:'';display:block;clear:both;}
.replyWrap .replyBox > ul > li:before{content:'';display:inline-block;position:absolute;left:0;top:30px;width:16px;height:16px;background:url(../images/sub/bg_reply_line.png) 0 0 / 100% 100% no-repeat;}
.replyWrap .replyBox > ul > li:first-child{border-top:0;}
.replyWrap .replyBox textarea{width:100%;padding:20px;height:95px;border:1px solid #e7e7e7;box-sizing: border-box;color:#666;font-size:16px;}
.replyWrap .replyBox textarea::placeholder{font-size:16px;color:#b2b1b1;}
.replyWrap .replyBox .btn{text-align:right;padding-top:8px;overflow:hidden;}
.replyWrap .replyForm .fileLayer{width:940px;left:-50px;}
.replyWrap .replyForm .fileLayer .img{margin: 16px 0 0 85px;}
.replyWrap .replyBtn.active + .replyBox{display:block;}
.replyWrap .wrap_reply .list_reply .replyBox .txt_reply{width:750px;}

.replyWrap .imgArea{padding:0 0 15px;}
.replyWrap .imgArea img{width:250px;height:auto;}
.replyWrap .replyBox .dleTxt{padding-left:0 !important;}
.wrap_reply .list_reply > ul > li .dleTxt{padding-left:10px;font-size:16px;color:#333;}

.titleType1 .tit h2 .tit_cos{display:inline-block;width:65px;height:32px;line-height:32px;vertical-align: 3px;margin-right:10px;background:#ed4956;border-radius: 50px;color:#fff;font-weight:700;font-size:18px;}
.titleType1 .tit span{display:inline-block;width:58px;line-height:28px;border-radius: 50px;color:#fff;font-size:14px;vertical-align: 7px;margin-left:12px;}
.titleType1 .titTypeWrap h3{padding:25px 0 0;font-weight:700;word-break: keep-all;font-size:28px;color:#333;letter-spacing: -1px;}
.titleType1 .area_address{display:inline-block;padding-top:10px;}
.titleType1 .area_address span{float:left;font-size:16px;color:#666;}
.titleType1 .area_address span + span:before{content:'';display:inline-block;width:1px;height:14px;background:#ccc;margin:0 10px;vertical-align: -2px;}

.titleType1 .cos_layer{position:absolute;right:0;top:-70px;font-size:14px;text-align:left;padding:11px 0 0 15px;line-height: 18px;width:174px;background:#8994a5;color:#fff;height:59px;border-radius: 5px;}
.titleType1 .cos_layer:after{content:'';display:inline-block;width:14px;height:6px;position:absolute;right:13px;bottom:-6px;background: url(../images/sub/bg_coslayer_box.gif) 0 0 / 100% 100% no-repeat;}
.titleType1 .cos_layer button{text-indent: -9999px;font-size:0;float:none;width:14px;height:14px;padding:0;position: absolute;right:15px;top:22px;background: url(../images/sub/btn_coslayer_close.png) 50% 50% / 100% 100% no-repeat;}
.titleType1 .post_area{position: relative;top:0;margin:35px 0 18px;}
.titleType1 .post_area > button{float:left;}
.titleType1 .post_area .rline{float:right;}
.titleType1 .post_area .rline:before{display:none;}

.wrap_map .map_view_layer{display:block;z-index: 10;position:absolute;left:50%;bottom:108px;margin-left:-198.5px;width:397px;padding:20px;height:141px;background:#fff;border-radius: 5px;box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);}
.wrap_map .map_view_layer img{width:100px;height:100px;}
.wrap_map .map_view_layer .close{position:absolute;right:7px;top:7px;width: 18px;height: 18px;background: url(../images/main/main_quick_close.png) 0 0 / 100% 100% no-repeat;text-indent: -9999px;}
.wrap_map .map_view_layer .img{float:left;}
.wrap_map .map_view_layer div{margin-left:120px;}
.wrap_map .map_view_layer a{display:block;height: 100%;}
.wrap_map .map_view_layer strong{display:block;padding:0 0 8px 0;}
.wrap_map .map_view_layer strong a{letter-spacing: -1px;font-weight:700;font-size:18px;line-height: 20px;color:#333;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.wrap_map .map_view_layer .km{display:block;font-size:14px;color:#666;overflow:hidden;}
.wrap_map .map_view_layer .km > span select {width: 100%;box-sizing: border-box;}
.wrap_map .map_view_layer .km > span{float:left;width: 70%;}
.wrap_map .map_view_layer .km > em{float:left;width: 30%;font-size: 14px;color: #666;}
.wrap_map .map_view_layer .km > em span{display:inline-block;padding:3px 0 0 5px;}
.wrap_map .map_view_layer .area{display:block;margin:3px 0 3px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size:14px;color:#666;}
.wrap_map .map_view_layer button span{display:inline-block;color:#fff;background:#13294b;font-size:13px;width:75px;line-height:22px;border-radius: 50px;}
.wrap_map .map_view_layer button span:before{content:'';display:inline-block;width:14px;height:22px;vertical-align:middle;margin-right:2px;background: url(../images/sub/icon_map_info.gif) 0 0 no-repeat;}
.wrap_map .lmarker{width: 26px;height: 36px;}

/* 코스 상세 */
.schedule_info{padding:40px 150px 40px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.schedule_info .schedule{overflow:hidden;}
.schedule_info .schedule li{float:left;width:50%;}
.schedule_info .schedule li .img{float:left;}
.schedule_info .schedule li img{width:80px;height:80px;}
.schedule_info .schedule li em{display:block;padding:15px 0 3px 98px;font-weight:700;font-size:14px;color:#777;}
.schedule_info .schedule li strong{display:block;padding:0 0 0 98px;font-weight:700;font-size:18px;color:#333;}
.schedule_info .tag{overflow:hidden;width:100%;min-height:80px;margin:33px 0 0 0;background: url(../images/sub/ico_schedule_tag.png) 0 0 / 80px 80px no-repeat;}
.schedule_info .tag em{display:block;padding:6px 0 3px 98px;font-weight:700;font-size:14px;color:#777;}
.schedule_info .tag span{display:block;padding:0 0 0 98px;overflow:hidden;margin-left:-18px;max-height:46px;text-overflow: ellipsis;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.schedule_info .tag a{display:inline-block;font-weight:700;font-size:16px;margin: 0 0 1px 18px;}
.course_detail .area_txtView.top .cont_more {position: relative;height: 33px;}
.course_detail .wrap_contView .area_txtView .btn_more{display:block;right:3px;overflow: hidden;width:auto;font-weight:700;background:#fff;border:0;position: absolute;top: 0;z-index: 5;color: #333;letter-spacing: -0.5px;font-size: 16px;}
.course_detail .wrap_contView .area_txtView .btn_more:after{content:'+';width:auto;height:auto;font-size:16px;font-weight:700;background:none;margin:0 0 0 5px;color: #333;}
.course_detail .wrap_contView .area_txtView.on .btn_more:after{content:'-';width:auto;height:auto;font-size:16px;font-weight:700;background:none;margin:0 0 0 5px;color: #333;}
.course_detail .area_map{margin-top:44px;}
.course_detail .cos_cont{display:none;margin-top: -9px;position: relative;padding: 0 30px 30px;background: #f3f2f2;}
.course_detail .detail_box{padding: 0 29px 31px;border:1px solid #ed4956;background:#fff;border-radius: 10px;box-shadow: 2px 3px 9px 3px rgba(87,88,89,.25);}
.course_detail .cos_cont.active{display:block;}

.relation_cos .cos_wrap .pc.js_slider ul li{padding: 85px 0 39px;}

.course_detail .relation_cos .cos_wrap{position:relative;padding:0 20px 0;margin-top:40px;}
.course_detail .relation_cos .cos_wrap:before{content:'';display:inline-block;width:10px;height:50px;position: absolute;left: 20px;top: 30px;background:#f3f2f2;z-index: 10;}
.course_detail .relation_cos .cos_wrap:after{content:'';display:block;height:4px;width:auto;background: url(../images/sub/bg_cos_detail.gif) repeat-x;position:absolute;left:30px;right:30px;top:52px;}
.course_detail .relation_cos .title .tit_wrap{overflow:hidden;padding:49px 0 3px;}
.course_detail .relation_cos .title{margin: 0 0 24px; width: 720px;}
.course_detail .relation_cos .title .tit_num{font-size:22px;text-align: left;padding:0 0 0 10px;}
.course_detail .relation_cos .title .tit_num span{display:inline-block;margin-left:5px;font-weight:700;font-size:22px;color:#ea2323;}
.course_detail .relation_cos .cos_wrap .pc.js_slider .swiper-button-next{right:-5px;top:160px;}
.course_detail .relation_cos .cos_wrap .pc.js_slider .swiper-button-prev{left:-5px;top:160px;}
.course_detail .cos_cont .title em{vertical-align: middle;margin-right:5px;}
.course_detail .cos_cont .title strong{display:inline-block;padding: 0;vertical-align: middle;}
.course_detail .info_area.mo{display:none;}
.course_detail .info_area .wrap > div{float:left;width:260px;height:260px;margin-left:20px;}
.course_detail .info_area .wrap > div:first-child{margin:0;}
.course_detail .info_area .wrap > div a{display:block;height:100%;border-radius: 10px;font-size:0;text-indent:-9999px;}
.course_detail .cos_cont .pc:before, .course_detail .cos_cont .pc:after{display:none;}
.course_detail .cos_cont .tag{padding:32px 0 0;overflow:hidden;display:block;}
.course_detail .cos_cont .tag li{float:left;margin-right: 15px;}
.course_detail .cos_cont .tag li:last-child {margin: 0;}
.course_detail .cos_cont .tag li a{display: block;font-size: 16px;}

.titleType1 .userArea{text-align:left;padding-bottom: 10px;font-size: 20px;font-weight: 700;color: #333;}
.titleType1 .userArea .img {display: inline-block;width: 30px;height: 30px;border-radius: 100%;background: url(../images/temp/icon_cos_default.png);margin-right: 5px;vertical-align: top;}
.titleType1 .userArea .img img {width: 100%;height: 100%;border: 1px solid #d3d0d0;border-radius: 100%;vertical-align: top;}
.titleType1 .userArea .name {display: inline-block;}

/* 추천 여행 */
.relation_cos h3{padding:55px 0 9px;border-bottom:2px solid #333;font-weight:800;font-size:24px;letter-spacing: -2px;color:#333;}
.relation_cos > .stit{display:block;font-weight: 800;font-size: 22px;color: #333;letter-spacing: -2px;overflow: hidden;padding: 34px 0 17px;text-overflow: ellipsis;white-space: nowrap;}
.relation_cos > .stit span{font-weight:400;}
.db_cont_detail .relation_cos .cos_wrap:after{content: '';display: block;height: 4px;width: auto;background: url(../images/sub/bg_cos_detail.gif) repeat-x;position: absolute;left: 30px;right: 30px;top: 132px;}
.relation_cos .cos_wrap{background:#f3f2f2;padding:30px 20px 80px;text-align:center;position: relative;}
.relation_cos .cos_wrap + .cos_wrap{margin-top:20px;}
.relation_cos .title{overflow:hidden;text-align:center;margin:10px 0 0;}
.relation_cos .title em{display:inline-block;height:30px;line-height:28px;color:#fff;width:30px;background:#ed4956;border-radius:50px;font-size:16px;font-weight:700;}
.relation_cos .title strong{padding:5px 0 2px;display:block;font-weight:700;font-size:22px;color:#000;letter-spacing: -1px;}
.relation_cos .title span{display:inline-block;font-size:16px;color:#666;}
.relation_cos .title span + span:before{content:'';display:inline-block;width:1px;height:14px;background:#ccc;vertical-align: -1px;margin:0 10px;}
.relation_cos .pc.js_slider{display:block;}
.relation_cos .pc{display:inline-block;position:relative;}
.relation_cos ul{display:inline-block;width:auto;}

.relation_cos .cos_wrap ul li{position:relative;float:left;width:200px !important;padding: 85px 0 30px;}
.relation_cos .cos_wrap ul li a{display:block;width: 180px;height:180px;margin: 0 10px;position: relative;border-radius: 10px;}
.relation_cos .cos_wrap .js_slider ul{display: flex;width:100%;}
.relation_cos .cos_wrap ul li:hover a, .relation_cos .cos_wrap ul li.on1 a{box-shadow: 2px 2px 10px 0px rgba(150,149,149,1);}
.relation_cos .cos_wrap ul li.on1:before{content:'';display:block;width:50% !important;height:4px;background:#ed4956;position:absolute;left:10px;top: 52px;}
.relation_cos .cos_wrap ul li.on1:after{content:'';display:inline-block;width:28px;height:16px;position:absolute;left:50%;bottom:0;margin-left:-14px;background: url(../images/sub/bg_cosdetail_arw.png) 0 0 / 100% 100%;}

.relation_cos .cos_wrap .pc.js_slider ul li.on1:after{bottom:8px;}
.relation_cos .cos_wrap ul li.on:before{content:'';display:block;width:100%;height:4px;background:#ed4956;position:absolute;left:10px;top: 52px;}

.relation_cos .js_slider .swiper-container:before{content:'';display:inline-block;width:28px;height:16px;background: url(../images/sub/bg_cosdetail_box01.gif) 0 0 / 100% 100%;position:absolute;left:0;top:280px;z-index: 10;}
.relation_cos .js_slider .swiper-container:after{content:'';display:inline-block;width:28px;height:16px;background: url(../images/sub/bg_cosdetail_box02.gif) 0 0 / 100% 100%;position:absolute;right:0;top:280px;z-index: 10;}
.relation_cos ul li em{display:inline-block;position:absolute;left:50%;top:34px;margin-left:-15px;font-weight:700;font-size:16px;line-height:28px;width:30px;height:30px;border:2px solid #bfbfbf;border-radius: 100%;background:#fff;color:#999;}
.relation_cos ul li.on em, .relation_cos ul li.on1 em{border:2px solid #ed4956;color:#ed4956;}
.relation_cos ul li em span{font-size:0;text-indent: -9999px;}
.relation_cos ul li .img{display: block;position: absolute;left: 0;top: 0;width: 100%;height: 100%;border-radius: 10px;}
.relation_cos ul li .tit{position:absolute;left:0;top:50%;margin-top:-30px;width:100%;height:60px;padding:0 20px 0;color:#fff;font-size:16px;font-weight:700;z-index: 10;}
.relation_cos ul li .tit span{display:block;position:absolute; left:15px;right:15px; top:50%;transform: translateY(-50%);letter-spacing:-0.5px;line-height: 23px;display:block;overflow:hidden;display: -webkit-box;max-height: 46px;word-break: keep-all;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}

.relation_cos .cos_wrap ul li a:after{content:'';display:block;width:100%;height:100%;position:absolute;left:0;top:0;background:rgba(0,0,0,.3);border-radius: 10px;}
.relation_cos .cos_wrap ul li.on1 a:after, .relation_cos .cos_wrap ul li:hover a:after{background:rgba(237,73,86,.8);}
.relation_cos .swiper-container{position: static;}

@media screen and (max-width: 1023px) {
    
    /* 사용자 코스 */
    .cosTop3{margin: 12px 0 5px;}
    .cosTop3 .mo{display:block;}
    .cosTop3 .pc{display:none;}
    .cosTop3 img{width:100%;}
    .cosTop3 + .box_cosList{padding-bottom: 15px;}
    .cosBanner .pc{display:none;}
    .cosBanner .mo{display:block;}
    .cosBanner img{width:100%;}
    .cosBanner{margin-bottom: 20px;}
    .wrap_contView.cosUser{width:auto;padding: 0 0 30px;}
    .wrap_contView.cosUser .page_box{border-top: 0;margin-top: 0;}