@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css);

header{
    height: 120px;
}
body{
    margin: 0;
}
main{
    padding-top:20px;
    padding-bottom: 100px;
    border: #3B3838 1px solid;
    /* background-color: rgb(255, 241, 241); */
    margin:auto;
    width:884px;
    position: relative;
    height:auto;
}
h1,h2,h3,h4,body{
    font-family: 'KoPubDotum';
}

a:-webkit-any-link { /*링크 밑줄 삭제*/
    color: black ;
    cursor: pointer;
    text-decoration: none;
}
.home{
    background:white;
    position: fixed;
    width: 100%;
    height: 70px;
    display: block;
    box-shadow: 0px 4px 3px  rgb(178, 178, 178); /*그림자*/
    z-index: 10;
}
.top_button{
    width:100px;
    height:15px;
    display: inline-block;
    position: fixed;
    right:100px;
    top:22px;
    z-index:15;
}
.top_button #join, #login{
    font-family: 'KoPubBatang';
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    cursor:pointer;
    width:45px;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.3);
    /* text-shadow: 0 0 rgba(0,0,0,100) ; */
}

.home .seoulMate{
    position: fixed;
    top:20px;
    left:15%;
    width: 300px;
    height:24.65px;
    display: inline-block; 
}

#menu li {
    list-style: none;
    width:auto;
    font-family: 'KoPubBatang';
    display: inline-block;
}
#menu ul{
    text-align: center;
    position: relative;
    width:600px;
    margin: 10px auto 10px auto;
    padding:0;
}
#menu {
    z-index: 1;
    background-color: rgb(248, 248, 248);
    height:50px;
    width:100%;
    position: fixed;
    top: 70px;
    display: block;
    text-align: center;
}

#menu a {
    font-size: 14px;
    text-decoration: 0;
    line-height: 30px;
    color: black;
    padding: 0 15px;
    display: block;
}

footer{
    position: relative;
    background: rgb(248, 248, 248);
    padding-left: 100px;
    font-family: 'KoPubBatang';
    font-size: 12px;
    font-weight: 300;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.3);
    margin-top:50px;
    height: 100px;
    width: 100%;
    display: block;
}

footer p{
    display: inline-block;
    background-color:ivory;
    margin: 30px;
    vertical-align: middle;
}
.main_title{
    position: relative;
    left:50px;
    padding:0;
}

@media screen and (max-width: 1150px) {
    .top_button, #join, #login { display: none; }}

@media screen and (max-width: 700px) {
    .top_button, #join, #login { display: none; }
}

.hr_divider{
    width: 790px;  background-color:#3B3838; margin:auto; margin-top: 90px; 
}
.hr_title{
    width:830px; background-color: #3B3838; margin:auto;
}