@import url(http://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
/* 
*{
    box-sizing: border-box;
} */
.filterOutWrap{
    margin:auto;
    margin-top: 5%;
    background-color: rgb(255,248,243);
    border-radius:15px;
    width:90%;
    /* box-sizing: border-box; */
    display: block;
    height:460px;
    /* top:170px; */
}
.filterWrap{
    position:relative;
    box-sizing: border-box;
    width:90%;
    margin:auto;
    padding: 25px;
    height: 330px;
    background: white;
    border-radius:15px;
}
.tit_sch{
    position: relative;
    width:90%;
    margin:auto;
    padding : 20px 0px;
    border-bottom: 1px solid #3B3838;
    margin-bottom: 25px;
}
ul{ padding: 0; width:98%}
.filterWrap li {
    list-style: none;
    padding-bottom: 35px;
}
.filterWrap .line2{
    list-style: none;
    padding-bottom: 62px;
}
.title{
    font-family:'KoPubDotum';
    font-weight: bold;
    font-size: 14px;
    width:20%;
    float: left;
}
.tripSite, .tripWith, .tripAccess{
    float:right;
    width: 80%
    /* float: right; */
}
.tripDays{
    float:right;
    width:80%;
}
.set{
    font-size: 14px;
    width:20%;
    display: inline-block;
    padding-bottom: 10px;
}
.setDate{
    font-size: 14px;
    width: 36%;
    display: inline-block;
    padding-bottom: 10px;
}
#set1stDate{
    padding-right:26px;

}

.date{
    width:200px;
    font-size: 14px;
}
.title label{ vertical-align: -3px;}
.tripStyle label{ vertical-align: 2px;}
.tripDays label{ vertical-align: 2px;}
.tripWith label{ vertical-align: 2px;}
.tripAccess label{ vertical-align: 2px;}

.tripStyle{
    float: right;
    width: 80%
}
form #schInfo{ 
    font-family: 'KoPubDotum';
}


