@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css);
article h2{
    margin-top:80px;
    margin-left:30px;
    padding-left : 7px;
    border-left: #3B3838 4px solid;
}
#content{
    margin-top: 30px;
    font-family: 'KoPubBatang';
    font-size: 12px;
    font-weight: 300;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.3);
    padding-bottom: 50px;
}

#article{ margin-bottom: 50px;}

/* hr{
    width: 150px; background-color:#3B3838; border: #3B3838 3px solid; margin:auto; margin-top: 100px;
} */
.preview{
    margin:20px;
    padding: 0;
    position: relative;
    left:30px;
    width:230px;
    height: 230px;
    display: inline-block;
    margin-bottom: 20px;
}

.thumbnail_img{
background-color:white;
border-radius: 5%;
width:230px;
height:230px;
background-size:cover;
background-repeat:no-repeat;
background-position:center center;
vertical-align: middle;
}
.thumbnail_txt{
    /* margin:20px; */
    text-align: center; 
    width:100%;
    padding-top: 10px;
    height: 10%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'KoPubBatang';
    font-size: 14px;
    font-weight: 300;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.3);
    position: absolute;
	top: 197px;
	left: 0px;
}
.hover_place{ width:230px; height:230px; display:block; margin:0px; font-size: 0; position: relative;}
.hover_place:hover{ border-radius :5%; font-size: 12px; display:block; background-color:rgba(0, 0, 0, 0.4); color: white;}
.hover_place_ul{width:180px; position: absolute; padding-top:20px; font-family:'KoPubDotum'; font-weight: 300; padding-left:20px; margin:0px;}
.hover_place_li{padding-bottom: 10px; width:100px; height:12px; display: block; -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.3);}

.li_course{
    list-style-type: none;
}

.li_course::before {  /*li 높이:20, 경로의 수에 따라 vertical-line 높이 결정 20*4-20/2*/
    position: relative;
    left:0%;
    content: '';   
    display: inline-block;   
    height: 10px;  
    padding: 5px; 
    width: 10px;    
    padding-bottom: 10px;
    background-size: 10px;   
    background-image: url('./image/bullet2.png');   
    background-repeat: no-repeat;   
    background-position: center center;
    vertical-align: middle;
}
.wrap_li{
    width:215px;
    position: relative;
    left:5%; top: 0%;
    border-left: #3B3838 2px solid;
    z-index: 5;
}
.vertical_line{
    position: absolute;
    width:5px;
    height: 90px;
    border-left:2px solid #3B3838;
    left: 9.4px;
    z-index: -2;
    } 
 
.ul_course {
  border-radius: 5%;
  border: 2px #F2F2F2 solid;
  position: relative;
  height: 50%;
  margin:0px;
  padding:0;
}

small{
    position: absolute;
    right:5px;
    bottom: 5px;
}